/* == Reset == */
@import url("reset.css");

/* == Generic styles ======== */
body {font:62.5% "Times New Roman", Times, serif; color:#444;min-width:940px;}

h1 {margin:0;}
h1 {font-size:3em; margin-bottom:0.666667em; line-height:1.333333em;}
h2 {font-size:2em; margin-bottom:.25em; line-height:1em;}
h3 {font-size:2em; margin-bottom:.25em; line-height:1em;}

/* Links */
a:link {color:#888;}
a:visited {color:#999;}
a:hover {color:#777;}
a:active {color:#777;}

h3 a {text-decoration:none;}

/* Reusable classes */
.hide {text-indent: -1000em; width: 0; height: 0; overflow: hidden;}

.navigation {list-style:none; margin: 2em 0 0;}
	.navigation li {display:inline;}
	.navigation a {text-decoration:none;}
	#footer .navigation li {font-size:1.5em;}

.item-pagination {overflow:hidden;width:512px; margin-bottom:1.5em;border-top:1px solid #ccc; padding-top:1.5em;}
.item-pagination li.previous {display:block;float:left; width:48%;}
.item-pagination li.next {float:right; display:block;width: 48%; text-align:right}

textarea {width:378px; height:312px;float:right;}
legend {display:none;}
fieldset {display:block; clear:both;}
label {font-size:1.5em;}
.label {font-size:1.5em;}
.inputs {overflow:hidden;zoom:1;}
.field {border-bottom:1px solid #ccc; padding:0.75em 0; overflow:hidden; width:512px;}
.field label {float:left; width: 114px;font-weight:normal;clear:left; }
.field .label {float:left; width: 114px;font-weight:normal;clear:left; }
.field .textinput, .field select {float:right; width: 378px;background:#fff;}
.field select {width: 382px;}
.field input {margin:0;margin-left:16px;}
input.submitinput {margin-top:1em;}
.radioinputs {display:block; margin-bottom:0.5em; overflow:hidden;}
.radioinputs label {display:block; float:left; width: 48%; clear:none;}
input#description {width: 378px; height: 312px;}
.search-entry select {margin-bottom:.5em;}
#primary #submit_search {margin:.5em 0;float:right;}


p {font-size:1.5em; line-height:1.33333em; margin-bottom:1.33333em;}

ul {list-style:none;font-size:1.5em; line-height:1.33333em;}
ol {list-style:lower-roman inside;font-size:1.5em; line-height:1.33333em;}

ul.items-list, ul.collections-list, ul.title-list {font-size:1em;}


.item-description, .element-text, .element-text-empty {font-size:1.5em; line-height:1.33333em; margin-bottom:1.33333em;}
.item-description p, .element-text p {font-size:1em; line-height:1.33333em; margin-bottom:1.33333em;}

.title-list li {font-size:1.5em; line-height:1.33333em; margin-bottom:1.33333em;}
	
em {font-style:italic;}
.element {margin-bottom:1.25em;}

textarea#rights {float:none; display:none;line-height:1.33333em;width: 512px; border:none; font:1.5em "Times New Roman",Times, serif;height:31em; color:#444;padding:0; margin:0;}

div.error {font-size:1.5em; line-height:1.33333em; margin:1.33333em 0;}

/* Microformats */
.hTagcloud {margin-top:2em;}
.hTagcloud ul {list-style:none; margin-left:0; padding-left:0; line-height:1.8em;}
	.hTagcloud li {display:inline;margin-right:8px;}

	.popular {font-size:100%;}
	.v-popular {font-size:140%;}
	.vv-popular {font-size:180%;}
	.vvv-popular {font-size:220%;}
	.vvvv-popular {font-size:260%;}
	.vvvvv-popular {font-size:300%;}
	.vvvvvv-popular {font-size:320%;}
	.vvvvvvv-popular {font-size:340%;}
	.vvvvvvvv-popular {font-size:360%;}

	.popular a, .popular a:visited {color: #714271;}
	.v-popular a, .v-popular a:visited {color: #714271;}
	.vv-popular a, .vv-popular a:visited {color: #714271;}
	.vvv-popular a, .vvv-popular a:visited {color: #636;}
	.vvvv-popular a, .vvvv-popular a:visited {color: #636;}
	.vvvvv-popular a, .vvvvv-popular a:visited {color: #5D2E5D;}
	.vvvvvv-popular a, .vvvvvv-popular a:visited {color: #5D2E5D;}
	.vvvvvvv-popular a, .vvvvvvv-popular a:visited {color: #5D2E5D;}
	.vvvvvvvv-popular a, .vvvvvvvv-popular a:visited {color: #5D2E5D;}

/* == Header == */

#header #site-title {margin-bottom:0; font-size:4em; margin-left:48px; padding:1em 0;}
	#header #site-title a {text-decoration:none;}
	#header {}

/* == Content == */
#content {background:#fff url("../images/horizontal-stripe.gif") top left repeat-x;padding:54px 0 48px 48px; overflow:hidden; zoom:1;}
	
	#search-wrap a {font-size:1.5em;margin-top:.25em;text-decoration:none;}
	#search-wrap {margin-bottom:2em;}
	#submit_search {margin-left:5px;}
	#submit_search_advanced {margin-top:5px;margin-bottom:5px;}
	
	
	#primary-nav {float:left; width:246px;}
	#primary-nav ul {margin:0;font-size:2em; line-height:1em;}
	#primary-nav li {display:block; width: 246px; margin-bottom:1em;}
	#primary-nav a {display:block; width: 246px; padding:0;}
	#primary-nav li.current a, #contribution #primary-nav li.nav-contribute-a-story-or-file a, #Tags #primary-nav li.nav-browse-contributions a, #items #primary-nav li.nav-browse-contributions a {color:#444;border-left:1em solid #444; padding-left:0.25em;}
	
	#primary {float:left; width: 512px; margin-left:60px;}

		#secondary-nav {margin-bottom:1em; border-bottom:1px solid #ccc;margin-bottom:0;padding:0.4em 0.5em; font-size:1.5em; }
		#secondary-nav li {padding:0.5em 0;}
		#secondary-nav a {padding:0.5em 1em 0.5em; color:#666;}
		#secondary-nav .current a{border-top:1px solid #ccc;background:#fff;color:#333; font-weight:bold;border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #fff;}
		
		.pagination ul {text-align:right; line-height:1em; padding:0.5em; }
		.pagination li {display:inline; margin-left:1em; margin-bottom:0; padding:0.5em 0;}
		.top ul {border:1px solid #ccc; border-width:0 0 1px 0;}
		.bottom ul {/*margin-top:-1.3em;*/margin-bottom:0; }
			.pagination .next {border-left:1px solid #ccc; padding-left:1em;}
			.pagination .previous {border-right:1px solid #ccc; padding-right:1em;}
	
		.browse .item {overflow:hidden; border-top:1px solid #ccc;padding-top:2em;}
		.browse .item-img img {width:100px; height:100px; float:left; display:block; margin-bottom:2em; margin-right:2em; padding:6px; border:1px solid #ccc;}
		.tags li {display:inline;}
		.tags a {}
		
		#item-content img {padding:5px; border:1px solid #ccc; margin-bottom:2em;}

		#featured-item {overflow:hidden;}
		#featured-item img {width: 140px; height:140px; padding:8px; border:1px solid #ccc; margin-right:20px; margin-bottom:20px;float:left;}

		.items-list li {border-bottom:1px solid #ccc; margin-bottom:1.33333em;}
		
		.collection {border-top:1px solid #ccc;padding-top:1.33333em;}
		.collection .element {margin-bottom:0;}
		
		/* Exhibits browse */
		#exhibits .exhibit {border-top:1px solid #ccc; padding-top:2em;}
		

		
		.exhibit-section-nav {list-style:square;padding-left:20px;padding-bottom:10px;}
		.exhibit-section-nav li {font-size:1.5em;}
		.exhibit-page-nav {list-style:square;padding-left:40px;padding-bottom:10px;}
		.exhibit-page-nav li {font-size:1.5em;}
		
		
/* == Footer == */
#footer {clear:both; overflow:hidden; padding-top:2em; margin-top:2em; border-top:1px solid #ccc;width: 818px;}
	#footer p {float:left; width: 180px;}
	#footer ul {float:left; width:578px; margin:0 0 0 60px;text-align:right;}
		#footer ul li {margin-left:12px;}