/* ----- Grid ----- */

#wrap {
    max-width: (($total-columns * $column-width) + (($total-columns - 1) * $spacing-unit));
    padding: 0 $spacing-unit;
    margin: 0;
}


#content {
    width: 75%;
    margin-right: 0;
    padding: (2 * $spacing-unit) $spacing-unit (2 * $spacing-unit) 0;
    float: left;
}

#primary-nav {
    width: 25%;
    float: left;
    padding: $spacing-unit;
    margin-left: 0;
}

#primary-nav ul.navigation .sub-nav-toggle:focus {
    outline: 1px dotted var(--black);
}


/* ----- Header ----- */

header {
    background-size: cover !important;
    border-width: 0 0 20px 0;
    border-style: solid;
}

.button.menu-button { display: none; }

#primary-nav {
    margin-top: 1.75 * $spacing-unit;

    ul.navigation {
        display: block;
        margin: 0;
    }

    .active ul {
        display: block;
    }

    ul {
        margin-top: 0;
        margin-bottom: 2 * $spacing-unit;
    }

    li {
        background-color: #fff;

        ul li { background-color: #fff; }

        ul li ul li { background-color: #fff; }
    }

    a:hover {
        font-weight: bold;
    }
}

#search-container {
    margin: $spacing-unit 0;
}

#search-form {
    margin-bottom: $spacing-unit;
}

#query {
    margin-bottom: $spacing-unit;
}

/* ----- Home ----- */

#featured-records,
#recent-items {
    display: grid;
    grid-gap: $spacing-unit (2 * $spacing-unit);
    grid-template-columns: 1fr 1fr;
}

#featured-records .record {
    padding: 0;
    margin: 0;
}

#recent-items .recent-title,
#recent-items .view-items-link {
    grid-column: span 2;
}

/* ----- Browse Items ----- */

.pagination-nav {
    width: 47%;
    overflow: hidden;
    float: left;
}

nav.pagination {
	overflow: visible;
}

#content > nav.pagination:nth-of-type(2) {
	width: 47%;
}

.pagination_list a, li.pagination_current {
    border: 1px solid #ccc;
    display: inline-block;
    padding: (.25 * $spacing-unit) 10px;
    vertical-align: top;
    margin-right: 10px;
}

#sort-links  {
    clear: none;
    float: right;
    ul {
        margin: (.25 * $spacing-unit) 0 0;
        padding: 0;
    }
    span, li {
        padding: (.25 * $spacing-unit) 0 (.25 * $spacing-unit);
        margin-right: 0;
    }

    li {
        padding-left: $spacing-unit;
    }
}

/* ----- Forms ----- */

.field {
    border-bottom:1px solid #ccc;
    width:100%;
    overflow: auto;
    padding: $spacing-unit 0;

    input, input[type=text], select {
        width: 100%;
        float: right;
    }

    label,
    .label,
    .columns.alpha {
        margin: 0;
        width: 100%;
    }

    div.field:last-of-type { display: inline-block; margin-bottom: 1em; }

    div :only-child { margin-bottom: 0; }
}



/* ----- Advanced Search Form ----- */

#advanced-search-form {
    margin-bottom: 40px;

    .submit { float: right; }

    .field {
        padding-bottom: $spacing-unit;
    }
}

#advanced-search-form .search-entry {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
}

#advanced-search-form .search-entry .input {
    width: calc((100% - #{(3 * $spacing-unit)}) / 4);
    display: inline-block;
    margin: 0 3px 0 0 !important;
    float: none;
    vertical-align: top;
}

#advanced-search-form .field .add_search,
#advanced-search-form .search-entry select {
    margin-bottom: 0;
}

#advanced-search-form .field .remove_search {
    text-indent: -9999px;
    margin-top: 0;
    width: (1.25 * $spacing-unit);
    float: right;
    clear: none;

    &:after {
        content: "\f00d";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        text-indent: 0;
        text-align: center;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        line-height: 1.25 * $base-line-height;
    }
}


/* ----- Exhibit Builder ----- */

#content nav + .exhibit {
    clear: both;
}

#exhibit-blocks,
.exhibits.summary #primary,
#exhibit-page-navigation {
    width: 75%;
    padding-right: $spacing-unit;
    margin-left: 0;
    float: left;
}

#exhibit-page-navigation {
    clear: none;
}

#exhibit-pages {
    width: 25%;
    display: inline-block;
}

