/* @group ----- Grid ----- */

#wrap {
    max-width: (($total-columns * $column-width) + (($total-columns - 1) * $gutter-width));
    padding: 0 gutter();
    margin: 0;
}


#content {
    @include span(12 of 16);
    margin-right: 0;
    padding: 40px 0;
}

#primary-nav {
    @include span(4 of 16);
    margin-left: 0;
}

#primary {
    @include prefix(0);
}

#home #primary {
    @include span(6 of 12);
    margin-left: 0;
    padding: 0 0 0 gutter();
}

#home #secondary {
    @include span(6 of 12);
    margin-right: 0;
    padding: 0 gutter();
}

/* @end */

/* @group ----- Header ----- */

header {
    background-size: cover !important;
    -ms-behavior: url('../javascripts/backgroundsize.min.htc');
    border-width: 0 0 20px 0;
    border-style: solid;
}

.button.menu-button { display: none; }

#primary-nav {
    margin-top: 1.75 * $spacing-unit;

    ul.navigation {
        display: block;
        margin: 0;
    }

    .active ul {
        display: block;
    }

    ul {
        margin-top: 0;
        margin-bottom: 2 * $spacing-unit;
    }

    li {
        background-color: #fff;

        ul li { background-color: #fff; }

        ul li ul li { background-color: #fff; }
    }

    a:hover {
        font-weight: bold;
    }
}

#search-container {
    margin: $spacing-unit 0;
}

#search-form {
    margin-bottom: $spacing-unit;
}

#query {
    margin-bottom: $spacing-unit;
}

.secondary-nav, #secondary-nav {
    border-bottom:1px solid #ccc;
    font-size:1.125em;

    a {
        padding: 0.5em 1em 0.5em;
        color: #666;
        border-bottom: 0;
    }

    ul { margin: 0 0 -1px 0; }

    li {
        display: inline-block;
        padding: 0;
        border: 1px solid #ccc;
    }

    .active {
        border-bottom-color: #fff;
    }

    .current a {
        background:#fff;
        color:#333;
        font-weight:bold;
        border: {
            color: #ccc;
            width: 1px;
            style: solid;
            bottom: { color: #fff; };
        }
    }
}

/* == Browse Items == */

.pagination {
    width: 47%;
    overflow: hidden;
    float: left;
    padding-bottom: $spacing-unit;
}

nav.pagination {
	overflow: visible;
}

#content > nav.pagination:nth-of-type(2) {
	width: 47%;
}

.pagination_list {
    margin-top: .75 * $spacing-unit;
    float: left;
}

.pagination_list a, li.pagination_current {
    border: 1px solid #ccc;
    display: inline-block;
    padding: (.25 * $spacing-unit) 10px;
    vertical-align: top;
    margin-right: 10px;
}

#sort-links  {
    clear: none;
    float: right;
    ul {
        margin-top: .75 * $spacing-unit;
        padding-top: .5 * $spacing-unit;
    }
    span, li {
        padding: (.25 * $spacing-unit) 0 (.25 * $spacing-unit) 20px;
        margin-right: 0;
    }
}

/* @end */

/* @group ----- Forms ----- */

div#contribution-type-form div.inputs {
    clear: none;
    float: right;
    width: 69%;
}

.field {
    border-bottom:1px solid #ccc;
    width:100%;
    overflow: auto;
    padding: (1 * $spacing-unit) 0;

    .inputs,
    .columns.omega {
        clear: none;
        float: right;
        width: 69%;
    }

    input, input[type=text], select {
        width: 100%;
        float: right;
    }

    label,
    .label,
    .columns.alpha {
        width: 29%;
        float: left;
        margin: 0;
    }

    .columns.alpha label,
    .columns.alpha .label {
        width: 100%;
    }

    div.field:last-of-type { display: inline-block; margin-bottom: 1em; }

    div :only-child { margin-bottom: 0; }
}

/* @end */

/* @group ----- Advanced Search Form ----- */

#advanced-search-form {
    margin-bottom: 40px;

    .submit { float: right; }
}

#advanced-search-form .search-entry input[type=text],
#advanced-search-form .search-entry select {
    width: calc((100% - #{(1.75 * $spacing-unit)}) / 4);
    display: inline-block;
    margin: 0 3px 0 0;
    float: none;
}

#advanced-search-form .search-entry:first-child input[type="text"],
#advanced-search-form .search-entry:first-child select {
    width: calc((100% - #{(1.75 * $spacing-unit)}) / 3);
}

#advanced-search-form .field .remove_search {
    text-indent: -9999px;
    margin-top: 0;
    width: (1.25 * $spacing-unit);
    float: right;
    clear: none;

    &:after {
        content: "\f00d";
        font-family: "FontAwesome";
        text-indent: 0;
        text-align: center;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        line-height: 1.25 * $base-line-height;
    }
}

/* @end */

/* @group ----- Exhibit Builder ----- */

#content nav + .exhibit {
    clear: both;
}

#exhibit-blocks,
.exhibits.summary #primary,
#exhibit-page-navigation {
    @include span(9 of 12);
    margin-left: 0;
    float: left;
}

#exhibit-page-navigation {
    clear: none;
}

#exhibit-pages {
    @include span(3 of 12);
    margin-right: 0;
    display: inline-block;
    float: none;
}

/* @end */