@mixin font-face(
    $filename,
    $family,
    $style: normal,
    $weight: 400
) {
    @font-face {
        font-family: $family;
        font-style: $style;
        font-weight: $weight;
        font-display: swap;
        src: url("../fonts/#{$filename}.woff2") format("woff2"), url("../fonts/#{$filename}.woff") format("woff");
    }
}

@include font-face('PTSerif-Regular', 'PT Serif');
@include font-face('PTSerif-Italic', 'PT Serif', $style: italic);
@include font-face('PTSerif-Bold', 'PT Serif', $weight: 700);
@include font-face('PTSerif-BoldItalic', 'PT Serif', $weight: 700, $style: italic);

/* @group ----- Generic styles ----- */

:root {
    --gray:#f7f7f7;
    --white: #fff;
    --black: #000;
    --border-color: #ccc;
    --thumbnail-size: 100px;
}

* { box-sizing: border-box; }

:focus {
    position: relative;
    z-index: 1;
}

body {
    font-family: "PT Serif", Times, serif;
    word-break: break-word;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: $spacing-unit;
}

h1 {
    font-size: 2 * $base-font-size;
    line-height: 2 * $base-line-height;
}

h2 {
    font-size:1.5 * $base-font-size;
    line-height: 1.5 * $base-line-height;
}

h3 {
    font-size: 1.25 * $base-font-size;
    line-height: 1.25 * $base-line-height;
}

h4 {
    font-size: 1.125 * $base-font-size;
    line-height: 1.125 * $base-line-height;
}

h5, h6 {
    font-size: $base-font-size;
    line-height: $base-line-height;
}

h6 {
    font-weight:normal;
    font-style:italic;
}


a {
    border-bottom: 1px dotted;
    text-decoration: none;

    img {
        margin-bottom: -2px;
        vertical-align: sub;
        border: none;
    }
}

p,ul,ol,dl {
    @include body-copy;
}

ul, ol{
    ul, ol {
        margin:0;
    }
}

dt {
    font-style:italic;
    font-weight:normal;
}

dd { margin-left:1.3333em; }

table {
    width:100%;
    border: 1px solid var(--border-color);
    border-width: 1px 1px 0 0;
    margin-bottom:1.3333em;
}

th {
    font-weight:bold;
    text-align:left;
}

th, td {
    border: solid var(--border-color);
    border-width: 0 0 1px 1px;
    padding: 4px;
}

blockquote {
    font-style:italic;
    margin: {
        left: 2.6667em;
        right: 2.6667em;
    }
}

#skipnav .spacer {
    position: absolute;
}

#skipnav a {
  position: relative;
  display: block;
  z-index: -5;
  height: 0;
  text-align: center;
  border-bottom-width: 0;
  
  &:focus {
    background-color: var(--white);
    padding: .25 * $spacing-unit;
    z-index: 1000;
    height: auto;
  }
}

@media screen and (max-width: 840px) {
    #skipnav:focus {
        display: block;
        width: 100%;
        position: static;
    }
}

#content {
    padding: 0 $spacing-unit;
}

/* @end */

/* @group ----- Reusable classes ----- */

.active { font-weight: bold; }

.permalink img,
.image {
    float: right;
    margin-left: $spacing-unit;
    display: block;
    border-bottom: 0;
    overflow: visible;

    a {
        display: block;
    }
}

#content .record img,
.item #content img,
.image img,
img.image {
    vertical-align: bottom;
    border: 1px solid var(--border-color);
    padding: (.1875 * $spacing-unit);
    background-color: var(--white);
}

.record img, 
.browse .item-img, 
.browse .image, 
.browse #content .item img, 
.browse .item #content img, 
.browse .image img, 
#recent-items img.image {
    height: var(--thumbnail-size);
}

#content img {
    max-width: 100%;
    max-height: 100%;
}

.collection .image,
.exhibit .image {
    box-shadow: -3px -3px 0 rgba(0,0,0,.2), -6px -6px 0 rgba(0,0,0,.1);
    margin-left: calc(#{$spacing-unit} + 6px);
    margin-top: 6px;
    max-width: calc(100% - 6px) !important;
}

.record {
    clear: both;
}

#secondary-nav + .exhibit {
    margin-top: -1px;
}

.columns.alpha,
.field label,
.field .label {
    font-weight: bold;
}


/* @end */

/* @group ----- Theme-Specific Form Elements ----- */

legend { @extend h3; }

fieldset {
    display:block;
    clear:both;
    border: 0;
    margin: 0;
    padding: 0;
}

.button:focus-visible, 
button:focus-visible, 
[type="reset"]:focus-visible, 
[type="submit"]:focus-visible, 
[type="button"]:focus-visible {
    outline: 2px solid AccentColor;
}

.button,
button,
[type="reset"],
[type="submit"],
[type="button"],
[type="text"],
[type="date"],
[type="number"],
[type="password"],
select {
    appearance: none;
    line-height: 1.5;
    border: 1px solid var(--black);
    padding: (.25 * $spacing-unit) (.5 * $spacing-unit);
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="password"],
select {
    background-color: var(--white);
}

.button,
button,
[type="reset"],
[type="submit"],
[type="button"] {
    line-height: 1.5;
    min-width: 24px;
    min-height: 24px;
}

select {
    background-image: url(../images/select_arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
    border-radius: 3px;
}

.search-entry {
    background-color: rgba(0,0,0,.05);
    padding: (.5 * $spacing-unit) 2%;
    gap: (.25 * $spacing-unit);
}

.search-entry .input {
    margin-bottom: 0;
}

.remove_search {
    position: relative;
    align-self: flex-end;
}

#search-form {
    display: flex;
}

#advanced-search-form {
    .inputs {
        clear: both;
    }

    input, select {
        width: 100%;
        display: block;
        margin-bottom: 0;
    }

    input[type="checkbox"],
    input[type="radio"] {
        width: initial;
        float: none;
    }

    .search-entry select,
    .search-entry input[type="text"] {
        width: 100%;
        display: block;
    }

    .search-entry:first-child .advanced-search-joiner {
        display: none;
    }

    input[type=submit], button {
        clear: both;
        width:auto;
        border-radius: 0;
    }

    .submit {
        margin-top: $spacing-unit;
        margin-bottom: $spacing-unit;
    }

    .search-entry input[type=text] {
        margin-bottom: 0;
    }

    #search-narrow-by-fields .inputs {
        margin-bottom: $spacing-unit;
    }

    .field {
        width:100%;
        padding: $spacing-unit 0 0;
        margin-bottom: 0;

        .inputs {
            width: 100%;
        }

        label {
            display: block;
            margin: 0;
        }

        label:not(:last-of-type) {
            margin-bottom: $spacing-unit;
        }

        div.field:last-of-type { display: inline-block; margin-bottom: 1em; }

        div:only-child { margin-bottom: 0; }

        .add_search {
            margin-bottom: $spacing-unit;
        }
    }
}

#search-narrow-by-fields-remove-field {
    display: none;
}

ul.items-list, ul.collections-list, ul.title-list {
    list-style:none;
    margin-left:0;
}

.title-list li {
    line-height:1.33333em;
    margin-bottom:1.33333em;
}

textarea#rights {
    float:none;
    display:none;
    line-height:1.33333em;
    width: 512px;
    border:none;
    height:31em;
    color:#444;
    padding:0;
    margin:0;
}

div.error {
    line-height:1.33333em;
    margin:1.33333em 0;
}

/* == Microformats == */

.hTagcloud {
    margin-top:2em;

    ul {
        list-style:none;
        margin-left:0;
        padding-left:0;
        line-height:1.8em;
    }

    li {
        display:inline;
        margin-right:8px;
    }
}


.popular {font-size:100%;}
.v-popular {font-size:140%;}
.vv-popular {font-size:180%;}
.vvv-popular {font-size:220%;}
.vvvv-popular {font-size:260%;}
.vvvvv-popular {font-size:300%;}
.vvvvvv-popular {font-size:320%;}
.vvvvvvv-popular {font-size:340%;}
.vvvvvvvv-popular {font-size:360%;}

/* @end */

/* @group ----- Header ----- */

header {
    background-size: auto !important;
    background-position-x: right !important;
}

#site-title {
    font-size: 2 * $base-font-size;
    line-height: 1.5 * $base-line-height;
    margin-left: 16px;
    padding: $spacing-unit 0;

    a {
        border-bottom: 0;
    }

    a img {
        vertical-align: bottom;
        max-width: 100%;
        height: auto;
    }
}

/* @end */

/* @group ----- Navigation -----  */

nav ul { padding-left: 0; }

ul.navigation { padding-left: 0; }

.top ul {
    border: solid var(--border-color);
    border-width: 0 0 1px 0;
}

.bottom ul { margin-bottom:0; }

.button.menu-button {
    cursor: pointer;
    padding: (.5 * $spacing-unit) $spacing-unit;
    display: block;
    width: 100%;
    text-transform: uppercase;
    text-align: left;

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px inset AccentColor;
    }
}

.button.menu-button .menu-icon:after {
    content: "\f0c9" / "";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    margin-left: 10px;
}

#primary-nav ul.navigation {
    border-top: 1px solid var(--border-color);
    position: relative;
    display: none;
    margin-top: 0;

    &.open {
        display: block;
    }
    
    ul {
        margin: 0;
        padding: 0;
        border-top: 0;

        li {
            width: 100%;
            box-sizing: border-box;
            margin: 0;

            a { padding: (.5 * $spacing-unit) $spacing-unit (.5 * $spacing-unit) (2 * $spacing-unit); }

            ul li a { padding-left: 4em; }
        }
    }

    ul.sub-nav {
        display: none;
    }

    .open > ul, .sub-nav.open {
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        list-style: none;
    }

    & > li {
        padding: 0;
        list-style-type: none;
        width: 100%;
        border-bottom: 1px solid var(--border-color);

        @media screen and (max-width: $break) {
            padding: 0;
        }

        a {
            display:block;
            padding: (.5 * $spacing-unit) $spacing-unit;
            border-bottom: 0;
        }

        a:focus {
            outline: none;
            box-shadow: 0 0 0 2px inset AccentColor;            
        }
    }

    .parent {
        position: relative;
    }

    .sub-nav-toggle:after {
        font-family: "Font Awesome 5 Free";
        content: "\f055" / "";
        font-weight: 900;
        font-size: 14px;
        float: right;
        transition-property: transform;
        transition: .5s ease;
        color: var(--text-color);
    }

    .open .sub-nav-toggle:after {
        transform: rotate(405deg);
    }

    .sub-nav-toggle {
        position: absolute;
        top: 0;
        right: 0;
        height: (2.5 * $spacing-unit);
        width: (2 * $spacing-unit);
        background-color: transparent;
        border: 0;

        &:after {
            float: none;
            text-align: center;
            display: block;
        }
    }

    a:focus {
        position: relative;
        z-index: 1;
    }
}

#secondary-nav,
.secondary-nav {
    border-bottom: 1px solid var(--border-color);
    font-size:1.125em;
    padding-bottom: $spacing-unit;
    margin-top: -.5 * $spacing-unit;
    width: 100%;

    a {
        padding: 0.5em 1em 0.5em;
        color: #666;
        border-bottom: 0;
    }

    ul { margin: 0 0 -1px 0; }

    li {
        display: inline-block;
        padding: 0;
        background-color: var(--gray);
        margin: 0 10px 0 0;
        border-radius: $spacing-unit;
        list-style-type: none;
        font-size: .875 * $base-font-size;
    }

    .active {
        border-bottom-color: var(--white);
    }

    a {
        border-bottom: 0;
        padding: (.25 * $spacing-unit) (.5 * $spacing-unit);
        display: inline-block;
    }

    .current a {
        background:var(--white);
        color:#333;
        font-weight:bold;
        border: {
            color: var(--border-color);
            width: 1px;
            style: solid;
            bottom: { color: var(--white); };
        }
    }
}

.pagination {
    padding-left: 0;
    float: left;
    margin: (.5 * $spacing-unit) 0;
    line-height: 2 * $base-line-height;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: (.5 * $spacing-unit) $spacing-unit;

    li {
        list-style-type: none;
        line-height: $base-line-height;
        height: $base-line-height;
    }

    input[type=text] {
        width: 5em;
        margin: 0 5px 0 10px;
        vertical-align: top;
        height: 1.5 * $spacing-unit;
        border: 1px solid;
    }
}

nav.pagination {
    overflow: visible;

    .pagination_list { padding-top: 0; }

    .pagination_list li { height: auto; }
}

nav.pagination:nth-of-type(3), #content > .pagination:nth-of-type(2) {
    width: 100%;
    height: 96px;
}

nav.pagination:nth-of-type(3) ul, #content > .pagination:nth-of-type(2) {
    border-top: 1px solid var(--border-color);
    border-bottom: 0;
    padding-top: $spacing-unit;
    margin: 0 0 $spacing-unit 0;
}

#content > nav.pagination:nth-of-type(2) {
    width: 100%;
    height: auto;
    padding-top: 0;
    margin-bottom: 0;
    border-top: 0;
}

.pagination_list {
    margin: 0;
    width: 100%;
    overflow: hidden;
    list-style-type: none;
    font-size: .875 * $base-font-size;
    padding-top: .5 * $spacing-unit;

    .pagination_current {
        background-color: var(--border-color);
        color: #444;
        font-weight: bold;
    }

    .next {
        border-left:1px solid var(--border-color);
        padding-left:1em;
    }

    .previous {
        border-right:1px solid var(--border-color);
        padding-right:1em;
    }

    li {
        float: left;
        margin: 0;

        &:last-child a { border-right-width: 1px; }
    }
}

.item-pagination {
    border-top:1px solid var(--border-color);
    margin: 0 0 (1.5 * $spacing-unit);
    display: flex;
    justify-content: space-between;
    padding-top: (1.5 * $spacing-unit);

    li {
        list-style-type: none;
    }

    a {
        display: inline-block;
        background-color: var(--black);
        color: var(--white);
        padding: 3px 10px;
    }
}

#sort-links {
    font-size: .875 * $base-font-size;
    clear: both;

    span {
        font-weight: bold;
        margin-right: $spacing-unit;
    }
}

#sort-links-list {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    li {
        display: inline-block;
        margin-right: $spacing-unit;
    }
}

#sort-links + .item {
    border-top: 1px solid var(--border-color);
    clear: both;
}

.desc span:after, .asc span:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
}

.desc span:after {
    content: "\00a0\f0d8" / "";
}

.asc span:after {
    content: "\00a0\f0d7" / "";
}

/* @end */

/* @group ----- Content ----- */

#intro {
    margin-bottom: $spacing-unit;
    padding: $spacing-unit;
    background-color: var(--gray);
    font-size: 1.25 * $base-font-size;
    line-height: 1.5 * $base-line-height;
}

.subtitle {
    display: none;
}

#featured-records .record,
#featured-item,
#featured-collection,
#featured-exhibit {
    margin-bottom: $spacing-unit;

    .subtitle {
        display: block;
        font-weight: none;
        font-size: $base-font-size;
    }

    .title {
        margin-bottom: .5 * $spacing-unit;
        overflow: visible;
    }

    img {
        display: block;
        float: none;
        height: auto;
        margin-bottom: .5 * $spacing-unit;
        margin-left: 0;
    }
}

.record .title {
    @extend h3;
    font-weight: bold;

    a:focus {
        outline-offset: -2px;
    }
}

.recent-title {
    font-weight: bold;
    margin-top: $spacing-unit;
}

#recent-items .item {
    border-bottom: 1px solid var(--black);
    padding-bottom: $spacing-unit;
    margin-bottom: $spacing-unit;
    display: flow-root;

    .title,
    img.image {
        margin-bottom: 0;
        margin-right: 0;
    }
}

#recent-items .item,
#recent-items .view-items-link {
    clear: both;
}

#recent-items .image {
    float: right;
    margin: 0 0 0 $spacing-unit;
}

#simple-search {
    width: 100%;
    display: inline-block;
    margin: 0 10px 10px 0;

    @media screen and (max-width: $break) { display: block; }
}

#search-container {
    position: relative;
    box-sizing: border-box;
    margin: $spacing-unit $spacing-unit;

    &:after {
      content: "";
      display: block;
      height: 0;
      width: 100%;
      clear: both;
    }
}

#search-container {
    position: relative;

    a {
        font-size:.875em;
        text-decoration:none;
        display: inline-block;
        clear: both;
    }

    h2 { display:none; }

    input[type=text] {
        width: 100%;
    }

    input[type=text], .button {
        height: 30px;
        font-size: $base-font-size;
        line-height: $base-line-height;
        padding: 3px 5px;
    }

    .button {
        min-width: 30px;
        height: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .button .icon:after {
        font-family: "Font Awesome 5 Free";
        text-indent: 0;
        text-align: center;
        line-height: 30px;
        font-weight: 900;
        display: inline-block;
    }

    .show-advanced .icon:after {
        content: "\2026" / "";
    }

    #submit_search .icon:after {
        content: "\f002" / "";
    }
}

#advanced-form {
    background-color: var(--white);
    overflow: auto;
    clear: both;
    position: absolute;
    top: 30px;
    left: 0;
    border: 1px solid #e7e7e7;
    width: 100%;
    padding: 0 $spacing-unit;
    box-sizing: border-box;
    margin-bottom: $spacing-unit;
    display: none;

    label {
        line-height: $base-line-height;
        vertical-align: top;
    }

    input[type="radio"],
    input[type="checkbox"] {
        margin: 3px 10px 3px 0;
    }

    legend {
        font-size: $base-font-size;
        line-height: $base-line-height;
        padding-top: $spacing-unit;
        margin-bottom: 0;
    }
}

#advanced-form.open {
    display: block;
}

#submit_search_advanced {
    margin-top:5px;
    margin-bottom:5px;
}

#search-filters, #item-filters {

    ul {
        padding-left: 0;
        list-style-type: none;
        display: inline-block;
        margin: (.5 * $spacing-unit) 0 0 0;
        font-weight: bold;
    }

    li {
        display: inline;

        &:after {
            content: " \00B7" / "";
            margin: 0 10px 0 5px;
        }

        &:last-child:after {
            content: "\00A0" / "";
        }
    }

    ul li ul {
        display: inline-block;
        li {
            list-style-type: none;
            display: inline-block;
            &:after { content: ", "; }
            &:last-child:after { content: ""; }
        }
    }
}

.element-text {
    margin-bottom: $spacing-unit;
}


#outputs {
    clear: both;
}

/* = Page-specific == */

.collections .element { margin-bottom: 20px; }

#collection-items {
    .item {
        border-bottom:1px solid var(--border-color);
        padding:20px 0;
        overflow:hidden;
        width:100%;

        &:last-child { border-bottom: 0 }
    }

    .item-description { line-height: 1.5em; }

    a.view-items-link {
        margin: $spacing-unit 0;
        display: inline-block;
        padding: (.25 * $spacing-unit);
        border-bottom: 0;
    }
}

.browse {
    .record {
        overflow:hidden;
        border-top:1px solid var(--border-color);
        padding: $spacing-unit 0;
        width: 100%;

        &:last-of-type { border-bottom: 0; }
    }

    .permalink img {
        margin: 0 0 $spacing-unit $spacing-unit;
    }
}

#browse-results {
    width: 100%;
}

.items {
    line-height: 1.5em;

    .element { margin-bottom: 20px; }
}

.hTagcloud li { display:inline; }

#item-content img {padding:5px; border:1px solid var(--border-color); margin-bottom:2em;}

#featured-item h3 { clear: both; }

.items-list li {border-bottom:1px solid var(--border-color); margin-bottom:1.33333em;}

#itemfiles {
    overflow: auto;
    &:after {
        content: "";
        display: block;
        height: 0;
        width: 100%;
        clear: both;
    }

    a {
        float: left;
        margin-right: $spacing-unit;
        overflow: visible;
        border-bottom: 0;
        margin-bottom: $spacing-unit;
        box-sizing: border-box;
        height: (5 * $spacing-unit);

        img {
            border: 1px solid var(--border-color);
            max-height: 100%;
        }
    }
}

.browse .collection.record {
    clear: both;
    border-top: 1px solid var(--border-color);
    padding-top: .9375 * $spacing-unit;

    .view-items-link {
        display: inline-block;
        margin-bottom: $spacing-unit;
    }
}

.collection .element {margin-bottom:0;}

.element-div { @include body-copy; }

/* @end */

/* @group ----- Footer ----- */

footer {
    clear:both;
    overflow:hidden;
    padding:20px;
    border-top:1px solid var(--black);

    ul {float:right; width:60%; margin:0 0 0 60px;text-align:right;}
    li {margin-left:12px;}
}

/* @end */

/* @group ----- Search Results ----- */

#search-filters {
    margin-bottom: $spacing-unit;
}

#search-filters ul {
    margin: 0;
}

#search-filters li li {
    text-transform: lowercase;

    &:after {
        margin: 0 .1em 0 0;
    }
}

#search-results td,
#search-results th {
    vertical-align: top;
    padding: (.5 * $spacing-unit);
}

#search-results .image {
    margin: 0 (.5 * $spacing-unit) 0 0;
}

/* @end */

/* @group ----- Exhibit Builder ----- */

.browse .exhibit {
    border-top: 1px solid var(--border-color);
    padding-top: 0.9375 * $spacing-unit;
    overflow: hidden;
}

.exhibits .pagination + .exhibit {
    border-top: 0;
    clear: both;
}

.summary #exhibit-pages {
    padding-top: 0;
}

#exhibit-pages {
    border: 1px solid var(--border-color);
    border-width: 0 1px;
    width: 100%;
    margin: 0 0 $spacing-unit;

    h4,
    & > ul:first-child > li:first-of-type {
        border-top: 1px solid var(--border-color);
    }

    h4,
    & > ul > li {
        border-bottom: 1px solid var(--border-color);
        margin-bottom: 0;
        position: relative;
        padding: .5 * $spacing-unit;
    }

    & > ul > li.parent:before,
    & > ul > li.current:before {
        content: "";
        height: 100%;
        width: 5px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--border-color);
    }

    ul {
        list-style-type: none;
        margin: 0;
    }

    ul ul {
        margin-left: 1.5em;
    }

    .current {
        font-weight: bold;

        & > *:not(a) {
            font-weight: normal;
        }
    }

    & > ul > li:not(.parent) ul {
        display: none;
    }

    & > ul > li.current ul {
        display: block;
    }

}

.show .exhibit-block:first-child {
    clear: none;
}

.show .exhibit-child-nav li {
    display: inline-block;
    margin-right: 10px;
}

.exhibit-item-caption p {
    font-size: .75 * $base-font-size;
    margin-top: $spacing-unit;
}

#exhibit-page-nav {
    border-top: 1px solid var(--border-color);
    line-height: $base-line-height;
    padding-top: $spacing-unit;
}

.exhibit-block {
    overflow: hidden;
}

.exhibit-block > *:last-child {
    margin-bottom: 0;
}

.exhibit-block > *:first-child,
.gallery + p,
.exhibit-items + p {
    margin-top: 0;
}

/* @end */

/* @group ----- Colors ----- */


header {
    border-color: var(--black);
}

.button, button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  background-color: var(--black);
  color: var(--white);
}

/* @end */

/* @group ----- Other Plugins ----- */

#recaptcha_area input {
    height: auto;
}

.guest-user .field .columns.alpha {
    width: 20%;
}

.guest-user .field {
    display: flex;
    flex-wrap: wrap;
}

.guest-user #submit {
    margin-top: 1rem;
}

.geolocation-item-links li.current,
#map-links li.current {
    background: transparent;
    border: 1px solid;
    box-shadow: inset 3px 0 0;
}

/* @end */
