/* == Grid == */

#content { 
    @include span-columns(12 omega, 16); 
    padding: 40px 0; 
}

#primary-nav { 
    @include span-columns(4 alpha,16); 
}

#primary { 
    @include prefix(0);
}

#home #primary { 
    @include span-columns(7 alpha,16); 
    @include prefix(1); 
}

#home .secondary { 
    @include span-columns(7 omega,16); 
    @include prefix(0);
    @include suffix(1);
}

/* == Header == */

header { 
    background-size: cover !important; 
    -ms-behavior: url('../javascripts/backgroundsize.min.htc');
    border-bottom: 20px solid #000; 
}

.menu-button { display: none; }

#primary-nav { 
    @include leader(1.75);

    .active ul {
        display: block;
    }
  
    ul { 
        @include leader(0); 
        @include trailer(2);
    }
    
    a:hover {           
        font-weight: bold;
    }
}

#search-form {
    @include trailer();
}

#query {
    @include trailer();
}

.secondary-nav, #secondary-nav {
    border-bottom:1px solid #ccc;
    font-size:1.125em; 
    
    a {
        padding: 0.5em 1em 0.5em; 
        color: #666;
        border-bottom: 0;
    }
    
    ul { margin: 0 0 -1px 0; }
    
    li { 
        display: inline-block;
        padding: 0; 
        border: 1px solid #ccc;
    }
    
    .active {
        border-bottom-color: #fff;
    }
    
    .current a {
        background:#fff;
        color:#333; 
        font-weight:bold;
        border: {
            color: #ccc;
            width: 1px;
            style: solid;
            bottom: { color: #fff; }; 
        }
    }
}

/* == Browse Items == */

.pagination { 
    width: 47%; 
    overflow: hidden;
    float: left;
    @include padding-trailer();
}

nav.pagination {
	overflow: visible;
}

#content > nav.pagination:nth-of-type(2) { 
	width: 47%; 
}

.pagination_list {
    @include leader(.75);
    float: left;
}

.pagination_list a, li.pagination_current { 
    border: 1px solid #ccc;
    display: inline-block; 
    padding: rhythm(.25) 10px;
    vertical-align: top;
    margin-right: 10px; 
}

#sort-links  {
    clear: none;
    float: right;
    ul { 
        @include leader(.75); 
        @include padding-leader(.5);
    }
    span, li {
        padding: rhythm(.25) 0 rhythm(.25) 20px;
        margin-right: 0;
    }
}