@import 'susy';
@import 'compass/css3';
@import 'compass/typography';
@import "compass/reset";

/* == Variables == */

$base-font-size: 16px;
$base-line-height: 24px;
$relative-font-sizing: false;

$total-columns  : 7;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;
$break          : 50em 16;

/* == Mixins == */

@mixin body-copy {
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin-bottom:1.5em;
}

@mixin boxsizing($bs) {
    $bs: unquote($bs);
    @include experimental(box-sizing, $bs, -moz, -webkit, not -o, not -ms, not -khtml, official);
    *behavior: url('../javascripts/boxsizing.htc');
}

/* == Generic styles ======== */

body {
    color:#444;
    font-family: "PT Serif", Times, serif;
    word-break: break-word;
}

h1 { margin:0; }

h1 {
    font-size: 2 * $base-font-size;
    line-height: 2 * $base-line-height;
    margin-bottom:0.666667em; 
}

h2 {
    font-size:1.5 * $base-font-size; 
    line-height: 1.5 * $base-line-height;
    margin-bottom:.75em; 
}

h3 {
    font-size: 1.25 * $base-font-size; 
    line-height: 1.25 * $base-line-height;
    margin-bottom:.25em;
}

h4 { 
    font-size: 1.125 * $base-font-size;
    line-height: 1.125 * $base-line-height; 
}

h5, h6 {
    font-size: $base-font-size;
    line-height: $base-line-height;
}

h6 {
    font-weight:normal; 
    font-style:italic; 
}

a { 
    border-bottom: 1px dotted;
    text-decoration: none;
    overflow: auto;
    
    &:link { color:#888; }
    
    &:visited { color:#999; }
    
    &:hover { color:#777; }
    
    &:active { color:#777; }
    
    img {
        border-bottom: 0;
        vertical-align: bottom;
    }
}

p,ul,ol,dl {
    @include body-copy;
}

ul, ol{
    ul, ol {
        font-size: $base-font-size;
        margin:0;
    }
}

dt {
    font-style:italic;
    font-weight:normal; 
}

dd { margin-left:1.3333em; }

table {
    width:100%; 
    border: 1px solid #ccc;
    border-width: 1px 1px 0 0;
    font-size: $base-font-size;
    margin-bottom:1.3333em;
}

th {
    font-weight:bold;
    text-align:left;
}

th, td {
    border: solid #ccc; 
    border-width: 0 0 1px 1px;
    padding: 4px;
}

blockquote {
    font-style:italic;
    margin: {
        left: 2.6667em;
        right: 2.6667em;
    }
}

/* Reusable classes */
.hide {
    text-indent: -1000em; 
    width: 0; 
    height: 0; 
    overflow: hidden;
}

/* == Formalize Styles == */
/* == http://formalize.me == */

/* `Widths
----------------------------------------------------------------------------------------------------*/

.input_tiny {
  width: 50px;
}

.input_small {
  width: 100px;
}

.input_medium {
  width: 150px;
}

.input_large {
  width: 200px;
}

.input_xlarge {
  width: 250px;
}

.input_xxlarge {
  width: 300px;
}

.input_full {
  width: 100%;
}

/*
  Added via JS to <textarea> and class="input_full".
  Applies only to IE7. Other browsers don't need it.
*/
.input_full_wrap {
  display: block;
  padding-right: 8px;
}

/* `UI Consistency
----------------------------------------------------------------------------------------------------*/

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

input,
button,
select,
textarea {
  margin: 0;
  vertical-align: middle;
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  vertical-align: top;
  top: 3px;
  /* IE8, IE9, IE10 */
  top: 0\0;
  /* IE7 */
  *top: -3px;
  margin-right: 10px;
}

/* iPad */
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 2px;
  }
}

/* iPhone 3 */
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}

/* iPhone 4 */
@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}

.button, button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  /* -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background: #ddd url(../images/button.png) repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
  background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%); */
  background-color: #000;
  border:0;
  color: #fff;
  cursor: pointer;
  font-family:'PT Serif', serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  outline: 0;
  overflow: visible;
  padding: 3px 10px;
  /* text-shadow: #fff 0 1px 1px; */
  width: auto;

  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 0px;
}

button {
  /* IE7 */
  *padding-top: 1px;
  *padding-bottom: 1px;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  outline: 0;
  padding: 2px 10px;
  font-size: $base-font-size;
  /*
    Leaving out Helvetica Neue, to not throw off size="..."
    on inputs. Arial is more reliable, on Windows and OS X.
  */
  font-family: "PT Serif", serif;
  height: 1.8em;

  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}

/*
  Separate rule for Firefox.
  Separate rule for IE, too.
  Cannot stack with WebKit's.
*/
::-webkit-input-placeholder {
  color: #888;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

input.placeholder_text,
textarea.placeholder_text {
  color: #888;
}

:invalid {
  /*
    Suppress red glow that Firefox
    adds to form fields by default,
    even when user is still typing.
  */
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  -moz-box-shadow: #333 0 0 7px;
  -webkit-box-shadow: #333 0 0 7px;
  box-shadow: #333 0 0 7px;

  /* for Opera */
  z-index: 1;
}

input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

select[disabled],
textarea[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

/* Tweaks for Safari + Chrome. */
@media (-webkit-min-device-pixel-ratio: 0) {
  select {
    background-image: url(../images/select_arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  select[size],
  select[multiple] {
    background-image: none;
    padding: 0;
  }

  ::-webkit-validation-bubble-message {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, #000));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: #fff;
    font: 11px/1 'Lucida Grande', Arial, 'Liberation Sans', FreeSans, sans-serif;
    padding: 15px 15px 17px;
    text-shadow: #000 0 0 1px;
  }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border: 0;
  }
}

textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

optgroup {
  color: #000;
  font-style: normal;
  font-weight: normal;
}

/* `IE6
----------------------------------------------------------------------------------------------------*/

/*
  Everything below this line is for IE6.
  Delete it if you don't support it! :)

  Classes are added dynamically via JS,
  because IE6 doesn't support attribute
  selectors: .ie6_button, .ie6_input, etc.

  Note: These style rules are somewhat
  duplicated because IE6 bombs out when
  it sees attribute selectors. Example:

  .ie6_button {
    This works in IE6.
  }

  .ie6_button,
  input[type=submit] {
    This doesn't work.
  }
*/

.ie6_button,
* html button {
  background: #ddd url(../images/button.png) repeat-x;
  border: 1px solid;
  border-color: #ddd #bbb #999;
  cursor: pointer;
  color: #333;
  font: bold 12px/1.2 Arial, sans-serif;
  padding: 2px 10px 0px;
  overflow: visible;
  width: auto;
}

* html button {
  padding-top: 1px;
  padding-bottom: 1px;
}

.ie6_input,
* html textarea,
* html select {
  background: #fff;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: #000;
  padding: 2px 3px 1px;
  font-size: $base-font-size;
  font-family: Arial, sans-serif;
  vertical-align: top;
}

* html select {
  margin-top: 1px;
}

.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888;
}

.ie6_input_disabled {
  background: #eee;
}


/* Theme-Specific Form Elements */

legend { @extend h3; }

fieldset { display:block; clear:both; }

#advanced-search-form {
    label, .label {
        clear:left; 
        font-size: $base-font-size;
        font-weight:normal;
        margin: 40px 0 10px 0;
        display: inline-block;
    }
    
    .inputs {
        clear: both;
    }
    
    input, select {
        width: 100%;
        display: block;
        @include trailer();
    }
    
    input[type=submit], button {
        clear: both;
        width:auto;
    }
    
    .submit { 
        @include leader();
        @include trailer();
    }
        
    .field {
        border-bottom:1px solid #ccc;
        font-size: $base-font-size;
        width:100%;
        overflow: auto;
        padding: rhythm(1) 0;

        .inputs { 
            width: 100%;
        }

        label {
            margin: 0;
            @include trailer();
        }
                
        div.field:last-of-type { display: inline-block; margin-bottom: 1em; }
        
        div :only-child { margin-bottom: 0; }
        
        .remove_search { @include trailer(); }
    }
    
    @include at-breakpoint($break) {
            margin-bottom: 40px;
            
            button { 
                clear: both;
                float: right;
                width: auto;
                margin: 0;
            }

            .field {
                border-bottom:1px solid #ccc;
                font-size: $base-font-size;
                width:100%;
                overflow: auto;
                padding: rhythm(1) 0;

                .inputs { 
                    clear: none;
                    float: right;
                    width: 69%; 
                }
        
                input, input[type=text], select { 
                    width: 97%; 
                    float: right;
                }
                
        
                label {
                    width: 29%;
                    float: left;
                    margin: 0;
                }
                        
                div.field:last-of-type { display: inline-block; margin-bottom: 1em; }
                
                div :only-child { margin-bottom: 0; }
                
            }
                .submit { float: right; }
}

}

ul.items-list, ul.collections-list, ul.title-list {
    font-size: $base-font-size;
    list-style:none; 
    margin-left:0;
}

.title-list li {
    font-size: $base-font-size;
    line-height:1.33333em; 
    margin-bottom:1.33333em;
}
    
textarea#rights {
    float:none; 
    display:none;
    line-height:1.33333em;
    width: 512px; 
    border:none; 
    height:31em; 
    color:#444;
    padding:0; 
    margin:0;
}

div.error {
    font-size: $base-font-size;
    line-height:1.33333em; 
    margin:1.33333em 0;
}

/* == Microformats == */

.hTagcloud {
    margin-top:2em;
    
    ul {
        list-style:none; 
        margin-left:0; 
        padding-left:0; 
        line-height:1.8em;
    }
    
    li {
        display:inline;
        margin-right:8px;
    }
}


.popular {font-size:100%;}
.v-popular {font-size:140%;}
.vv-popular {font-size:180%;}
.vvv-popular {font-size:220%;}
.vvvv-popular {font-size:260%;}
.vvvvv-popular {font-size:300%;}
.vvvvvv-popular {font-size:320%;}
.vvvvvvv-popular {font-size:340%;}
.vvvvvvvv-popular {font-size:360%;}

.popular a, .popular a:visited, 
.v-popular a, .v-popular a:visited, 
.vv-popular a, .vv-popular a:visited { color: #714271; }

.vvv-popular a, .vvv-popular a:visited, 
.vvvv-popular a, .vvvv-popular a:visited {color: #636;}

.vvvvv-popular a, .vvvvv-popular a:visited,
.vvvvvv-popular a, .vvvvvv-popular a:visited,
.vvvvvvv-popular a, .vvvvvvv-popular a:visited,
.vvvvvvvv-popular a, .vvvvvvvv-popular a:visited {color: #5D2E5D;}


/* == Susy grid styles == */

#wrap { 
    @include container($total-columns, $break);
    margin: 0;
    
    * { @include boxsizing(border-box); }
}

@include at-breakpoint($break) {
    #content { 
        @include span-columns(12 omega, 16); 
        padding: 40px 0; 
    }
    
    #primary-nav { 
        @include span-columns(4 alpha,16); 
    }

    #primary { 
        @include prefix(0);
    }
    
    #home #primary { 
        @include span-columns(7 alpha,16); 
        @include prefix(1); 
    }
    
    #home #secondary { 
        @include span-columns(7 omega,16); 
        @include prefix(0);
        @include suffix(1);
    }
}


/* == Header == */

header { 
    border-bottom: 1px solid #000; 
    background-size: auto !important; 
    background-position-x: right !important;    

    &:after {
        content: "";
        height: 5px;
        width: 100%;
        display: block;
        margin-bottom: 3px;
        background-color: #000;
    }
}

    @include at-breakpoint($break) {
        header { background-size: cover !important; }
    }

#site-title {
    font-size: 2 * $base-font-size; 
    @include padding-trailer();
    @include padding-leader();
    margin-left: 16px;

    a { border-bottom: 0; }
    a img { 
        vertical-align: bottom; 
        max-width: 100%;
        height: auto;
    }
}

#search-form {
    @include trailer();
    @include margin-leader(.25);
    
    #query {
        @include trailer();
    }
    
    &:after {
      content: "";
      display: block;
      height: 0;
      width: 100%;
      clear: both;
    }
}

#advanced-form {
    @include trailer();
    @include boxsizing(border-box);
    
    label {
        font-size: $base-font-size;
        line-height: $base-line-height;
    }
    
    input[type="radio"] {
        margin: 3px 10px 3px 0;
    }
}

/* == Navigation == */

.top ul {
    border: solid #ccc; 
    border-width: 0 0 1px 0;
}

.bottom ul { margin-bottom:0; }

#primary-nav { 
    @include leader(1.75);
                   
    ul {
        border-top: 1px solid #ccc;
        font-size: 1.25 * $base-font-size; 
        line-height:1em;
        position: relative;
        @include boxsizing(border-box);

        @include at-breakpoint($break) {
            margin: 20px 0;
        }
        
        .active {
            font-weight: bold;
        }
        
        .active ul {
            display: block;
        }

        li {
            font-size: $base-font-size;
            display:block;  
            padding: 0;
            border-bottom: 1px solid #ccc;
            list-style-type: none;
            
            @include at-breakpoint($break) {
                padding: 0;
            }

            a {
                border-bottom: 0;
                display:block; 
                padding: rhythm(.5);
                
                &:before {
                    content: "\BB\20";
                    display: inline;
                }
            }
            
            &:hover {
                font-weight: bold;
                background-color: #f7f7f7;            
            }
            
            
            &:hover ul {
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                overflow: hidden;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            display: none;
            border-top: 0;

            li {
                width: 100%;
                @include boxsizing(border-box);
                padding: 0 0 0 20px;
                margin: 0;
                border-bottom: 0;
            }
        }
    }
}

#secondary-nav {
    
    border-top: 1px solid #ccc;

    li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        border-bottom: 1px solid #ccc;
        
        a { 
            border-bottom: 0; 
            @include padding-leader(.25);
            @include padding-trailer(.25);
            display: inline-block;
        }
    }

    @include at-breakpoint($break) {
        border-top: 0;
        border-bottom:1px solid #ccc;
        font-size:1.125em; 
        
        a {
            padding: 0.5em 1em 0.5em; 
            color: #666;
            border-bottom: 0;
        }
        
        ul { margin: 0 0 -1px 0; }
        
        li { 
            display: inline-block;
            padding: 0; 
            border: 1px solid #ccc;
        }
        
        .active {
            border-bottom-color: #fff;
        }
        
        .current a {
            background:#fff;
            color:#333; 
            font-weight:bold;
            border: {
                color: #ccc;
                width: 1px;
                style: solid;
                bottom: { color: #fff; }; 
            }
        }
    }

}

.pagination_list {
    margin: 0;
    border-bottom: 1px solid #ccc;
    @include padding-leader(1);
    @include padding-trailer(1);

    @mixin pagination-item { 
        border: 1px solid #ccc;
        display: inline-block; 
        padding: rhythm(.25) 10px;
        vertical-align: top;
    }
    
    .pagination_current { 
        @include pagination-item; 
        background-color: #ccc;
        color: #444;
        font-weight: bold;
    }

    .next {
        border-left:1px solid #ccc; 
        padding-left:1em;
    }
    
    .previous {
        border-right:1px solid #ccc; 
        padding-right:1em;
    }
    
    &:first-child { border-bottom: 1px solid #ccc;}

    ul {
        text-align:left; 
        line-height:1em; 
        padding: .5em 0;
        margin: .625em 0;
    }
    
    li {
        display: inline-block;
        margin: {
            left: .3125em;
            bottom:0;
        }

        &:first-child { margin-left: 0; }
        
        a { @include pagination-item; };
    }
}

.item-pagination {
    border-top:1px solid #ccc; 
    margin: 0 0 1.5em 0;
    overflow:hidden;
    padding-top:1.5em;
    
    li.previous {
        width:48%;
        display:block;
        float:left; 
    }
    
    li.next {
        width: 48%;
        display:block;
        float:right;  
        text-align:right;
    }
}

#sort-links {
    border-bottom: 1px solid #ccc;
    @include leader();
    @include trailer();
    
    span { 
        font-weight: bold;
        margin-right: $gutter-width; 
    }
}

#sort-links-list {
    list-style: none;
    display: inline-block;
    li { 
        display: inline-block; 
        margin-right: $gutter-width;
    }
}


/* == Content == */

#simple-search {
    width: 100%;
    display: inline-block; 
    margin: 0 10px 10px 0;
    
    @include at-breakpoint($break) { display: block; }
}

#search-form {
    position: relative;
    @include boxsizing(border-box);
}

#advanced-search {
    width: 10%;
    text-indent: -9999px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 90%;
    font-weight: bold;
    @include boxsizing(border-box);

    
    &:link, &:hover, &:active, &:visited { color: #fff; }
}

#advanced-search:after {
    content: "+";
    display: block;
    text-indent: 0;
    text-align: center;
    margin-top: -1.75em;
}

#search-wrap {
    position: relative;

    a {
        font-size:.875em;
        text-decoration:none;
        display: inline-block;
        clear: both;
    }
    
    h2 {display:none;}
    
    input[type=text], input[type=submit] { 
        height: 30px;
        font-size: $base-font-size;
        line-height: $base-line-height;
        @include has-layout-zoom();
    }
    
    input[type=submit] {
        width: 30%;
        border: 0;
        background-color: #000;
        color: #fff;
        position: absolute;
        top: 0;
        left: 60%;
        padding: 3px 5px;
    }
    
    input[type=text] { 
        width: 70%;
        border: 1px solid #000;
        padding: 5px 10px;
    }
}

#advanced-form {
    display: none;
    background-color: #fff;
    overflow: auto;
    clear: both;
    z-index: 1001;
    position: absolute;
    top: 30px;
    left: 0;
    border: 1px solid #e7e7e7;
    width: 100%;
    padding: rhythm(1) $gutter-width;
    @include boxsizing(border-box);
}

#submit_search { margin: -1px 0 0 5px; }

#submit_search_advanced {margin-top:5px;margin-bottom:5px;}

#search-filters {
    padding-left: 1.25em;
    
    ul li ul { 
        display: inline-block;
        li { 
            list-style-type: none; 
            display: inline-block; 
            &:after { content: ", "; }
            &:last-child:after { content: ""; }
        }
    }
}
    
.element-text {
    @include trailer();
}
    

/* = Page-specific == */

#home {
    #primary div { margin-bottom: 40px; overflow: hidden; }
    
    #secondary div { margin-bottom: 40px; overflow: hidden; }
}

#collections .element { margin-bottom: 20px; }

#collection-items {
    .item { 
        border-bottom:1px solid #ccc; 
        padding:20px 0; 
        overflow:hidden; 
        width:100%; 
        
        &:last-child { border-bottom: 0 }
    }

    .item-description { line-height: 1.5em; }
}

.browse {
    .item {
        overflow:hidden; 
        border-bottom:1px solid #ccc;
        @include padding-leader(1);
        @include padding-trailer(1);
        
        &:last-of-type { border-bottom: 0; }
    }

    .item-img img {
        width:100px; 
        height:100px; 
        float:left; 
        display:block; 
        margin: 0 $gutter-width 0 0;
        padding:6px; 
        border:1px solid #ccc;
    }
}

#items {
    font-size: $base-font-size;
    line-height: 1.5em;
    
    .element { margin-bottom: 20px; }
}

.tags li { display:inline; }

#item-content img {padding:5px; border:1px solid #ccc; margin-bottom:2em;}

#featured-item {
    img { padding:8px; border:1px solid #ccc; margin-right:20px; margin-bottom:20px;float:left;}
    
    h3 { clear: both; }
}

.items-list li {border-bottom:1px solid #ccc; margin-bottom:1.33333em;}

#itemfiles {
    overflow: auto;
    &:after {
        content: "";
        display: block;
        height: 0;
        width: 100%;
        clear: both;
    }
}

.item-file {
    float: left;
    margin-right: $gutter-width;
    @include trailer();
    
    img {
        border: 1px solid #ccc;
    }
}
.collection {border-top:1px solid #ccc;padding-top:1.33333em;}

.collection .element {margin-bottom:0;}

.element-div { @include body-copy; }


/* == Footer == */
footer {
    clear:both; 
    overflow:hidden; 
    padding:20px;
    border-top:1px solid #000;

    p {
        float:left; 
        
        @include at-breakpoint($break) { width: 30%; }
    }
    
    ul {float:right; width:60%; margin:0 0 0 60px;text-align:right;}
    li {margin-left:12px;}
}
        
/* == Exhibit Builder == */
#exhibits  {
    .exhibit {
        border-top:1px solid #ccc; 
        @include padding-leader(1);
    }
    
    div:first-child {
        border-top: 0;
    }
}

#exhibit #primary h2 {font-weight:normal;margin-top:.5em;}
.exhibit-section-nav {list-style:none;margin-bottom:1em; border-bottom:1px solid #ccc;margin:0;padding:0.4em 0.5em; font-size:1.5em;}
.exhibit-section-nav li {padding:0.5em 0;display:inline;}
.exhibit-section-nav li a {padding:0.5em 1em 0.5em; color:#666;text-decoration:none;}
.exhibit-section-nav .current a{border-top:1px solid #ccc;background:#fff;color:#333; font-weight:bold;border-left:1px solid #ccc; border-right:1px solid #ccc; border-bottom:1px solid #fff;}

.exhibit-page-nav {padding:15px 0 15px 40px;margin:0;border-top:1px solid #ccc;}
.exhibit-page-nav li {font-size:1.1em;display:inline;margin-right:10px;}
.exhibit-page-nav li a {text-decoration:none;}
.exhibit-page-nav .current a {color:#333; font-weight:bold;}

#exhibit-page-navigation {clear:both;float:right;}
#exhibit-page-navigation .next-page {margin-left:2em;}